<html ng-app="MarmolistasElPilarApp">
<head>
    <title>
        Marmolistas El Pilar - Artículos
    </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link href="/css/materialize.css" rel="stylesheet" type="text/css"/>
    <link href="./css/styles.css" rel="stylesheet"/>
    <script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="/materialize/js/bin/materialize.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/articles-controller.js" type="text/javascript"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body ng-controller="ArticlesCtrl">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="logo" src="img/logo.png"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="index.html">Inicio</a></li>
                <li class="active"><a href="#">Artículos</a></li>
                <li><a href="grupos.html">Grupos</a></li>
                <li><a href="clientes.html">Clientes</a></li>
                <li><a href="proveedores.html">Proveedores</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="index.html">Inicio</a></li>
    <li class="active"><a href="#">Artículos</a></li>
    <li><a href="grupos.html">Grupos</a></li>
    <li><a href="clientes.html">Clientes</a></li>
    <li><a href="proveedores.html">Proveedores</a></li>
</ul>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title"><h5>{{action}} Artículo</h5></span>
            </div>
            <div class="card-content">
                <div class="row">
                    <form name="addArticuloForm" id="addArticuloForm" class="col s12" ng-submit="saveArticle()">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="codigo" ng-model="newArticle.codigo" type="text" class="validate">
                                <label for="codigo">Código</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="nombre" ng-model="newArticle.nombre" type="text" class="validate">
                                <label for="nombre">Nombre</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="iva" ng-model="newArticle.iva" type="number" class="validate">
                                <label for="iva">IVA</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="precio_costo" ng-model="newArticle.precio_costo" type="number"
                                       class="validate">
                                <label for="precio_costo">Precio Costo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="tarifa_general" ng-model="newArticle.tarifa_general" type="number"
                                       class="validate">
                                <label for="tarifa_general">Tarifa General</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="tarifa_encimera" ng-model="newArticle.tarifa_encimera" type="number"
                                       class="validate">
                                <label for="tarifa_encimera">Tarifa Encimera</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="tarifa_contratista" ng-model="newArticle.tarifa_contratista"
                                       type="number" class="validate">
                                <label for="tarifa_contratista">Tarifa Contratista</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="tarifa_publico" ng-model="newArticle.tarifa_publico" type="number"
                                       class="validate">
                                <label for="tarifa_publico">Tarifa Público</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="unidad" ng-model="newArticle.unidad" type="text" class="validate">
                                <label for="unidad">Unidad</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="dimension" ng-model="newArticle.dimension" type="text"
                                       class="validate">
                                <label for="dimension">Dimensión</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select ng-model="newArticle.grupo" id="grupo">
                                    <option ng-repeat="group in groups" value="{{group._id}}"
                                            ng-selected="group.selected == true">{{group.nombre}}
                                    </option>
                                </select>
                                <label>Grupo (Encimeras)</label>
                            </div>
                        </div>
                        <div class="center">
                            <button ng-class="class_button" type="submit" name="action">
                                {{action}}
                                <i class="material-icons right">{{icon_action}}</i>
                            </button>
                            <a class="btn-large waves-effect waves-light blue" ng-click="refresh()">
                                REFRESCAR
                                <i class="material-icons right">refresh</i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><h5>Filtrar Artículos</h5></span>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <i class="material-icons prefix">filter_1</i>
                                <input id="search_code" type="text" class="validate" ng-model="filter_codigo">
                                <label id="label_code" for="search_code">Código</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <i class="material-icons prefix">font_download</i>
                                <input id="search_name" type="text" class="validate" ng-model="filter_nombre">
                                <label id="label_name" for="search_name">Nombre</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Articles-->
        <div class="col s12">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><h5>Artículos</h5></div>
                    <div class="collapsible-body">
                        <ul class="collapsible">
                            <li ng-repeat="articulo in articles | filter:filterArticle track by $index">
                                <div class="collapsible-header item row item">
                                    <div class="col s6 left-align">
                                        <b>{{articulo.codigo}} - {{articulo.nombre}}</b>
                                    </div>
                                    <div class="col s6 right-align">
                                        <a href="#!"><i class="material-icons orange-text"
                                                        ng-click="editArticle($index)"
                                                        onclick="event.stopPropagation();">edit</i>
                                            <i class="material-icons red-text"
                                               ng-click="removeArticle($index)" onclick="event.stopPropagation();">delete</i></a>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col s4">
                                                <b>Código:</b> {{articulo.codigo}}
                                            </div>
                                            <div class="col s4">
                                                <b>Nombre:</b> {{articulo.nombre}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s4">
                                                <b>Unidad:</b> {{articulo.unidad}}
                                            </div>
                                            <div class="col s4">
                                                <b>Dimensión:</b> {{articulo.dimension}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s4">
                                                <b>T. General:</b> {{articulo.tarifa_general}}
                                            </div>
                                            <div class="col s4">
                                                <b>T. Encimera:</b> {{articulo.tarifa_encimera}}
                                            </div>
                                            <div class="col s4">
                                                <b>T. Contratista:</b> {{articulo.tarifa_contratista}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s4">
                                                <b>T. Público:</b> {{articulo.tarifa_publico}}
                                            </div>
                                            <div class="col s4">
                                                <b>IVA:</b> {{articulo.iva}}
                                            </div>
                                            <div class="col s4">
                                                <b>Precio Costo:</b> {{articulo.precio_costo}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('select').formSelect();
        $('.collapsible').collapsible();
    });
</script>
</html>
