<html ng-app="MarmolistasElPilarApp">
<head>
    <title>
        Marmolistas El Pilar - Cliente
    </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link href="/css/materialize.css" rel="stylesheet" type="text/css"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="/materialize/js/bin/materialize.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/clients-view-controller.js" type="text/javascript"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body ng-controller="ClientsViewCtrl">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="logo" src="/img/logo.png"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                <li><a href="/articulos">Artículos</a></li>
                <li><a href="/grupos">Grupos</a></li>
                <li class="active"><a href="/clientes">Clientes</a></li>
                <li><a href="/proveedores">Proveedores</a></li>
                <li><a href="/almacen">Almacén</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Inicio</a></li>
    <li><a href="/articulos">Artículos</a></li>
    <li><a href="/grupos">Grupos</a></li>
    <li class="active"><a href="/clientes">Clientes</a></li>
    <li><a href="/proveedores">Proveedores</a></li>
    <li><a href="/almacen">Almacén</a></li>
</ul>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title"><h5 class="center">{{client.nombre}}</h5></span>
                <div class="row">
                    <div class="col s12 center">
                        <div class="row">
                            <tr>
                                <th><b>DNI:</b> {{client.dni}}</th>
                                <th><b>Dirección:</b> {{client.domicilio + ', ' + client.poblacion + ', ' +
                                    client.provincia + ' ' + client.cp}}
                                </th>
                                <th><b>Email:</b> {{client.email}}</th>
                                <th><b>Teléfono:</b> {{client.telefono}}</th>
                                <th><b>Forma de Pago:</b> {{formadepagos[client.formadepago].nombre}}</th>
                                <th><b>Tarifa:</b> {{tarifas[client.tarifa].nombre}}</th>
                                <th><b>Rec. Equiv.:</b> {{client.rec ? 'Si' : 'No'}}</th>
                                <th><b>Contacto:</b> {{client.contacto}}</th>
                            </tr>
                        </div>
                        <div class="row">
                            <button class="btn-large waves-effect waves-light blue" type="submit" name="action"
                                    ng-click="createBill()">Nuevo Documento
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sol s12">
                        <div class="input-field col s2">
                            <select ng-change="updateBillType()" ng-model="billType" id="billType">
                                <option value="0" selected>Albarán</option>
                                <option value="1">Presupuesto</option>
                                <option value="2">Factura</option>
                                <option value="3">Factura P.</option>
                            </select>
                            <label>Tipo de documento</label>
                        </div>
                        <div class="input-field col s2">
                            <select ng-model="isPaid" id="isPaid">
                                <option value="0" selected>Todos</option>
                                <option value="1">Pagados</option>
                                <option value="2">No Pagados</option>
                            </select>
                            <label>Filtrar por</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="fecha_inicio" type="text" class="datepicker" value="01/01/2018"
                                   ng-model="fecha.inicio">
                            <label for="fecha_inicio">Fecha Inicio</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="fecha_fin" type="text" class="datepicker" value="01/01/2018"
                                   ng-model="fecha.fin">
                            <label for="fecha_fin">Fecha Fin</label>
                        </div>
                        <div class="input-field col s2">
                            <b><i class="small material-icons red-text">expand_more</i>{{getTotalUnpaid()}}€</b>
                        </div>
                    </div>
                    <div class="col s12">
                        <table class="responsive-table striped">
                            <thead>
                            <tr>
                                <th>{{billSelected}}</th>
                                <th>Fecha</th>
                                <th>Importe (Bruto)</th>
                                <th>Pagado</th>
                                <th>Método de pago</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="bill in bills | filter:myFilter track by $index">
                                <td>{{billSelected}} nº {{bill.codigo}}</td>
                                <td>{{bill.fecha | date:'dd/MM/yyyy'}}</td>
                                <td>{{bill.total}}€</td>
                                <td>{{bill.pagado ? 'Sí' : 'No'}}</td>
                                <td>{{getPaymentType(bill)}}</td>
                                <td><a href="#">
                                    <i ng-if="!bill.pagado" class="material-icons green-text"
                                       ng-click="payBill(bill)"
                                       onclick="event.stopPropagation();">monetization_on</i>
                                    <i ng-if="bill.pagado" class="material-icons black-text"
                                       ng-click="unpayBill(bill)"
                                       onclick="event.stopPropagation();">monetization_on</i>
                                    <i class="material-icons orange-text"
                                       ng-click="editBill(bill)"
                                       onclick="event.stopPropagation();">edit</i>
                                    <i class="material-icons red-text"
                                       ng-click="removeBill(bill)"
                                       onclick="event.stopPropagation();">delete</i>
                                </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="payBill" class="modal">
    <div class="modal-content">
        <h4>Pagar {{billSelected}} nº {{billToPay.codigo}}</h4>
        <div class="row">
            <div class="input-field col s12">
                <select ng-model="billPaymentType" id="billPaymentType">
                    <option value="0" selected>Efectivo</option>
                    <option value="1">Transferencia</option>
                    <option value="2">Cheque</option>
                    <option value="3">Pagarés</option>
                    <option value="4">Confirming</option>
                </select>
                <label>Método de pago</label>
            </div>
            <div class="col s12" ng-class="(billPaymentType !== '2' && billPaymentType !== '3') ? 'invisible' : ''">
                <!--  Importe, Nombre, Fecha, Numeración. En pagarés, además, se añade Fecha de vencimiento. -->
                <div class="col s12">
                    <div class="input-field col s6">
                        <input id="importe" type="number" placeholder="100" ng-model="check.importe">
                        <label for="importe">Importe</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="nombre" type="text" placeholder="Alberto" ng-model="check.nombre">
                        <label for="nombre">Nombre</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s6">
                        <input id="fecha" type="text" placeholder="01/01/2018" class="datepicker"
                               ng-model="check.fecha">
                        <label for="fecha">Fecha</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="numeracion" type="text" placeholder="01010101" ng-model="check.numeracion">
                        <label for="numeracion">Numeración</label>
                    </div>
                </div>
                <div class="col s12" ng-class="billPaymentType !== '3' ? 'invisible' : ''">
                    <div class="input-field col s6">
                        <input id="fecha_vencimiento" type="text" placeholder="01/01/2018" class="datepicker"
                               ng-model="check.fecha_vencimiento">
                        <label for="fecha_vencimiento">Fecha Vencimiento</label>
                    </div>
                </div>
            </div>
            <div class="col s12 center">
                <button class="btn-large waves-effect waves-light green"
                        ng-click="markBillAsPaid()">Marcar como pagado
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.modal').modal();
        $('.collapsible').collapsible();
        $('.tabs').tabs();
        $('#billType').find('option[value="0"]').prop('selected', true);
        $('#billPaymentType').find('option[value="0"]').prop('selected', true);
        $('#isPaid').find('option[value="0"]').prop('selected', true);
        $('select').formSelect();
        $('.datepicker').datepicker({
            firstDay: 1,
            format: 'dd/mm/yyyy',
            i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"]
            }
        });
    });
</script>
</html>
