<html ng-app="MarmolistasElPilarApp">
<head>
    <title>
        Marmolistas El Pilar - Clientes
    </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link href="/css/materialize.css" rel="stylesheet" type="text/css"/>
    <link href="./css/styles.css" rel="stylesheet"/>
    <script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="/materialize/js/bin/materialize.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/clients-controller.js" type="text/javascript"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body ng-controller="ClientsCtrl">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="logo" src="img/logo.png"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="articulos.html">Artículos</a></li>
                <li><a href="grupos.html">Grupos</a></li>
                <li class="active"><a href="#">Clientes</a></li>
                <li><a href="proveedores.html">Proveedores</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="index.html">Inicio</a></li>
    <li><a href="articulos.html">Artículos</a></li>
    <li><a href="grupos.html">Grupos</a></li>
    <li class="active"><a href="#">Clientes</a></li>
    <li><a href="proveedores.html">Proveedores</a></li>
</ul>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title"><h5>{{action}} Clientes</h5></span>
            </div>
            <div class="card-content">
                <div class="row">
                    <form name="addClienteForm" id="addClienteForm" class="col s12" ng-submit="saveClient()">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="nombre" ng-model="newClient.nombre" type="text" class="validate">
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="dni" ng-model="newClient.dni" type="text"
                                       class="validate">
                                <label for="dni">DNI</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="domicilio" ng-model="newClient.domicilio" type="text" class="validate">
                                <label for="domicilio">Domicilio</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="provincia" ng-model="newClient.provincia" type="text" class="validate">
                                <label for="provincia">Provincia</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="poblacion" ng-model="newClient.poblacion" type="text"
                                       class="validate">
                                <label for="poblacion">Población</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="cp" ng-model="newClient.cp" type="number"
                                       class="validate">
                                <label for="cp">C.P</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="email" ng-model="newClient.email" type="email"
                                       class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="telefono" ng-model="newClient.telefono"
                                       type="number" class="validate">
                                <label for="telefono">Teléfono</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select ng-model="newClient.rec" id="rec">
                                    <option ng-repeat="rec in equivalencia" value="{{rec._id}}"
                                            ng-selected="rec.selected == true">{{formadepago.nombre}}
                                    </option>
                                </select>
                                <label>Rec. Equiv</label>
                            </div>
                            <div class="input-field col s6">
                                <select ng-model="newClient.formadepago" id="formadepago">
                                    <option ng-repeat="formadepago in formadepagos" value="{{formadepago._id}}"
                                            ng-selected="formadepago.selected == true">{{formadepago.nombre}}
                                    </option>
                                </select>
                                <label>Forma de pago</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="contacto" ng-model="newClient.contacto"
                                       type="number" class="validate">
                                <label for="contacto">Contacto</label>
                            </div>
                            <div class="input-field col s6">
                                <select ng-model="newClient.tarifa" id="tarifa">
                                    <option ng-repeat="tarifa in tarifas" value="{{tarifa._id}}"
                                            ng-selected="tarifa.selected == true">{{tarifa.nombre}}
                                    </option>
                                </select>
                                <label>Tarifas</label>
                            </div>
                        </div>
                        <div class="center">
                            <button ng-class="class_button" type="submit" name="action">
                                {{action}}
                                <i class="material-icons right">{{icon_action}}</i>
                            </button>
                            <a class="btn-large waves-effect waves-light blue" ng-click="refresh()">
                                REFRESCAR
                                <i class="material-icons right">refresh</i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><h5>Filtrar Clientes</h5></span>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <i class="material-icons prefix">filter_1</i>
                                <input id="search_dni" type="text" class="validate" ng-model="filter_dni">
                                <label id="label_dni" for="search_dni">DNI</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <i class="material-icons prefix">font_download</i>
                                <input id="search_name" type="text" class="validate" ng-model="filter_nombre">
                                <label id="label_name" for="search_name">Nombre</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <i class="material-icons prefix">local_phone</i>
                                <input id="search_telefono" type="text" class="validate" ng-model="filter_telefono">
                                <label id="label_telefono" for="search_telefono">Teléfono</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <i class="material-icons prefix">location_city</i>
                                <input id="search_direccion" type="text" class="validate" ng-model="filter_direccion">
                                <label id="label_direccion" for="search_direccion">Dirección</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Customers-->
        <div class="col s12">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><h5>Clientes</h5></div>
                    <div class="collapsible-body">
                        <ul class="collapsible">
                            <li ng-repeat="cliente in clients | filter:filterClient track by $index">
                                <div class="collapsible-header item row item">
                                    <div class="col s6 left-align">
                                        <b>{{cliente.dni}} - {{cliente.nombre}}</b>
                                    </div>
                                    <div class="col s6 right-align">
                                        <a href="#!"><i class="material-icons orange-text"
                                                        ng-click="editClient($index)"
                                                        onclick="event.stopPropagation();">edit</i>
                                            <i class="material-icons red-text"
                                               ng-click="removeClient($index)"
                                               onclick="event.stopPropagation();">delete</i></a>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col s4">
                                                <b>Nombre:</b> {{cliente.nombre}}
                                            </div>
                                            <div class="col s4">
                                                <b>DNI:</b> {{cliente.dni}}
                                            </div>
                                            <div class="col s4">
                                                <b>Domicilio:</b> {{cliente.domicilio}}
                                            </div>
                                            <div class="col s4">
                                                <b>Provincia:</b> {{cliente.provincia}}
                                            </div>
                                            <div class="col s4">
                                                <b>T. Población:</b> {{cliente.poblacion}}
                                            </div>
                                            <div class="col s4">
                                                <b>T. C.P:</b> {{cliente.cp}}
                                            </div>
                                            <div class="col s4">
                                                <b>T. Email:</b> {{cliente.email}}
                                            </div>
                                            <div class="col s4">
                                                <b>T. Teléfono:</b> {{cliente.telefono}}
                                            </div>
                                            <div class="col s4">
                                                <b>T. Contacto:</b> {{cliente.contacto}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('select').formSelect();
        $('.collapsible').collapsible();
    });
</script>
</html>
