<html ng-app="NHTravelApp">
<head>
    <title>
        NHTravel - Coches
    </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link href="/css/materialize.css" rel="stylesheet" type="text/css"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="/materialize/js/bin/materialize.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/cars-controller.js" type="text/javascript"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body ng-controller="CarCtrl">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img class="logo" src="img/logo2.png"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Casas</a></li>
                <li class="active"><a href="/coches">Coches</a></li>                
                <li><a href="/clientes">Clientes</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Inicio</a></li>
    <li><a href="/">Casas</a></li>
    <li class="active"><a href="/coches">Coches</a></li>                
    <li><a href="/clientes">Clientes</a></li>
</ul>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title"><h5>{{action}} Coches</h5></span>
            </div>
            <div class="card-content">
                <div class="row">
                    <form name="addCocheForm" id="addCocheForm" class="col s12" ng-submit="saveCar()">
                        <div class="row">
                            <div class="input-field col s3">
                                <input id="matricula" ng-model="newCar.matricula" type="text" class="validate"
                                       placeholder="065468" >
                                <label for="matricula">Matrícula</label>
                            </div>
                            <div class="input-field col s9">
                                <input id="nombre" ng-model="newCar.nombre" type="text" class="validate"
                                       placeholder="Dacia Logan">
                                <label for="nombre">Nombre</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="color" ng-model="newCar.color" type="text" class="validate"
                                       placeholder="Negro" required>
                                <label for="color">Color</label>
                            </div>                            
                            <div class="input-field col s6">
                                <input id="precio" ng-model="newCar.precio" type="number" class="validate"
                                       placeholder="800 DHS" required>
                                <label for="precio">Precio</label>
                            </div>
                        </div>
                        <div class="center">
                            <button ng-class="class_button" type="submit" name="action">
                                {{action}}
                                <i class="material-icons right">{{icon_action}}</i>
                            </button>
                            <a class="btn-large waves-effect waves-light blue" ng-click="refresh()">
                                REFRESCAR
                                <i class="material-icons right">refresh</i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><h5>Filtrar Coches</h5></span>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <i class="material-icons prefix">filter_1</i>
                                <input id="search_code" type="text" class="validate" ng-model="filter_matricula">
                                <label id="label_code" for="search_code">Matrícula</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <i class="material-icons prefix">font_download</i>
                                <input id="search_name" type="text" class="validate" ng-model="filter_nombre">
                                <label id="label_name" for="search_name">Nombre</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cars-->
        <div class="col s12">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><h5>Coches</h5></div>
                    <div class="collapsible-body">
                        <ul class="collapsible">
                            <li ng-repeat="coche in cars | filter:filterCar track by $index">
                                <div class="collapsible-header item row item">
                                    <div class="col s6 left-align">
                                        <b>{{coche.matricula}} - {{coche.nombre}}</b>
                                    </div>
                                    <div class="col s6 right-align">
                                        <a href="#!"><i class="material-icons orange-text"
                                                        ng-click="editCar($index)"
                                                        onclick="event.stopPropagation();">edit</i>
                                            <i class="material-icons red-text"
                                               ng-click="removeCar($index)" onclick="event.stopPropagation();">delete</i></a>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col s4">
                                                <b>Matrícula:</b> {{coche.matricula}}
                                            </div>
                                            <div class="col s8">
                                                <b>Nombre:</b> {{coche.nombre}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s4">
                                                <b>Precio:</b> {{coche.color}}
                                            </div>                                            
                                            <div class="col s4">
                                                <b>Precio:</b> {{coche.precio}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('#grupo').find('option[value="0"]').prop('selected', true);
        $('select').formSelect();
        $('.collapsible').collapsible();
    });
</script>
</html>
